<%- include("header")  -%> 

    <div class="main-container">
        <div class="date-clr">
            <h1 class="date-title"><%= listTitle  %> </h1>
        </div>

        <div class="box">

            <% newListItems.forEach((item) => { %>
                <form action= "/delete" method="post">
                    <div class="item">

                        <input type="checkbox" name="checkboxthatgot" value="<%=item._id%> "  onChange="this.form.submit()">
                        <p><%= item.name %> </p>
                    </div>
                    <input type="hidden" name="listNumber" value="<%= listTitle %>">
                </form>
                
           <% }) %> 

           <form class="item-i" action="/" method="post">
    
            <input class="yy" type="text" name="inputItem" autocomplete="off" placeholder="New Item">
            <button type="submit" name="list" value="<%= listTitle  %>">+</button>
    
            </form>

        </div>
    
    </div>

<%- include("footer")  -%> 
   
